microservice-chart:
  namespace: "ecommerce"
  nameOverride: ""
  fullnameOverride: "pagopa-ecommerce-cdc-service"
  canaryDelivery:
    create: false
    ingress:
      bluegreen: false
      #set canary deployment with traffic balancing see https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/nginx-configuration/annotations.md#canary for more info
      header: true
      headerName: deployment
      headerValue: blue
      weightPercent: 10
    image:
      repository: pagopaucommonacr.azurecr.io/pagopaecommercecdcservice
      tag: "latest"
    envConfig:
      OTEL_SERVICE_NAME: "pagopa-ecommerce-cdc-service-blue"
      OTEL_RESOURCE_ATTRIBUTES: "service.name=pagopa-ecommerce-cdc-service-blue,deployment.environment=uat"
    envSecret: {}
  image:
    repository: pagopaucommonacr.azurecr.io/pagopaecommercecdcservice
    tag: "0.3.2"
    pullPolicy: Always
  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 40
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 40
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080
  ingress:
    create: true
    host: "weuuat.ecommerce.internal.uat.platform.pagopa.it"
    path: /pagopa-ecommerce-cdc-service/(.*)
    servicePort: 8080
  serviceAccount:
    create: false
    annotations: {}
    name: "ecommerce-workload-identity"
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "512Mi"
      cpu: "300m"
    limits:
      memory: "512Mi"
      cpu: "600m"
  autoscaling:
    enable: false
    minReplica: 1
    maxReplica: 1
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
  terminationGracePeriodSeconds: 30
  strategy:
    type: "RollingUpdate"
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  envConfig:
    OTEL_SERVICE_NAME: "pagopa-ecommerce-cdc-service"
    OTEL_SERVICE_ENVIRONMENT: "uat"
    OTEL_RESOURCE_ATTRIBUTES: "deployment.environment=uat"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.elastic-system.svc:4317"
    OTEL_EXPORTER_OTLP_PROTOCOL: grpc
    OTEL_TRACES_EXPORTER: otlp
    OTEL_METRICS_EXPORTER: otlp
    OTEL_LOGS_EXPORTER: otlp
    OTEL_TRACES_SAMPLER: "always_on"
    CDC_LOG_EVENTS_COLLECTION_NAME: "eventstore"
    CDC_LOG_EVENTS_OPERATION_TYPE: "insert,update,replace"
    CDC_LOG_EVENTS_PROJECT: "fullDocument"
    CDC_SEND_RETRY_MAX_ATTEMPTS: "2"
    CDC_SEND_RETRY_INTERVAL_IN_MS: "100"
    CDC_STREAM_RETRY_MAX_ATTEMPTS: "15"
    CDC_STREAM_RETRY_INTERVAL_IN_MS: "60000"
    MONGO_HOST: pagopa-u-weu-ecommerce-cosmos-account.mongo.cosmos.azure.com
    MONGO_USERNAME: pagopa-u-weu-ecommerce-cosmos-account
    MONGO_PORT: "10255"
    MONGO_SSL_ENABLED: "true"
    MONGO_MIN_POOL_SIZE: "0"
    MONGO_MAX_POOL_SIZE: "50"
    MONGO_MAX_IDLE_TIMEOUT_MS: "600000"
    MONGO_CONNECTION_TIMEOUT_MS: "2000"
    MONGO_SOCKET_TIMEOUT_MS: "10000"
    MONGO_SERVER_SELECTION_TIMEOUT_MS: "2000"
    MONGO_WAITING_QUEUE_MS: "2000"
    MONGO_HEARTBEAT_FREQUENCY_MS: "5000"
    MONGO_DB_NAME: "ecommerce"
    REDIS_PROTOCOL: "rediss"
    REDIS_PORT: "6380"
    REDIS_SSL_ENABLED: "true"
    REDIS_SUB_CONN_MIN: "4"
    REDIS_SUB_CONN_MAX: "24"
    REDIS_SLAVE_CONN_MIN: "4"
    REDIS_SLAVE_CONN_MAX: "24"
    REDIS_MASTER_CONN_MIN: "4"
    REDIS_MASTER_CONN_MAX: "24"
    CDC_REDIS_JOB_LOCK_KEYSPACE: "ecommerceCdcEventLock"
    CDC_REDIS_JOB_LOCK_TTL_MS: "600000"
    CDC_REDIS_JOB_LOCK_WAIT_TIME_MS: "100"
    CDC_REDIS_RESUME_KEYSPACE: "ecommerceCdcResume"
    CDC_REDIS_RESUME_TARGET: "eventstore"
    CDC_REDIS_RESUME_FALLBACK_IN_MIN: "60"
    CDC_REDIS_RESUME_TTL_IN_MIN: "1440"
    CDC_RESUME_SAVE_INTERVAL: "5"
    ECOMMERCE_TRANSACTION_VIEW_COLLECTION_NAME: "transactions-view-cdc"
  envSecret:
    OTEL_EXPORTER_OTLP_HEADERS: elastic-otel-token-header
    MONGO_PASSWORD: mongo-ecommerce-password
    REDIS_HOST: redis-ecommerce-hostname
    REDIS_PASSWORD: redis-ecommerce-access-key
  keyvault:
    name: "pagopa-u-ecommerce-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
  azure:
    workloadIdentityClientId: 449c5b65-f368-487a-881a-b03676420c53
